ul.link_list
{
  list-style:     none;
  margin-left:    0px;
}

ul.link_list li
{
  margin: 5px;
}

.center
{
  text-align: center;
}

.small_desc
{
  margin:  10px;
  padding: 10px;
}

body
{
  padding-top:    20px;
  padding-bottom: 40px;
}

img.small_project_image
{
  margin: auto;
  height: 250px;
}