!!!
%html
  %head
    %title Personal Site
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %link{:href =>  "css/bootstrap.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href =>  "css/site.css",      :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "http://code.jquery.com/jquery.js", :type => "text/javascript"}
    %script{:src => "js/bootstrap.min.js",              :type => "text/javascript"}
    / Image Picker
    %link{:href =>  "http://rvera.github.com/image-picker/image-picker/image-picker.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "http://rvera.github.com/image-picker/image-picker/image-picker.min.js", :type => "text/javascript"}

  %body

    .container
      .row
        .span2
          %img.img-circle{src: "https://secure.gravatar.com/avatar/a13f1d33b6dc5ec4baf5d549da5a74d6?s=200"}
        .span10
          %h1 
            Hi there!
          %p.lead
            Thanks for stopping by. Here you'll find some of the personal projects I've worked on over the years.
          .row
            .span3
              %p
                Maybe you were looking for my professional information? 
                You can check my linkedin profile. It's not very thorough but the basic
                information is there.
            .span2
              %a{href: "http://www.linkedin.com/in/rodvera/"}
                %img.thumb{src: "img/linkedin2.png"}
            .span3
              Or maybe you were looking for my github profile.
            .span2
              %a{href: "http://github.com/rvera"}
                %img.thumb{src: "http://octodex.github.com/images/original.jpg"}
              

      .project
        .row
          .span12
            %h2 Image Picker
        .row
          .span8
            %p.desc
              Image Picker is a simple jQuery plugin that transforms a select element into a more 
              user-friendly graphical interface. I found myself using 'select' form elements a lot despite
              not really liking them that much; They don't either present all the available options in 
              a good way nor are very user friendly on mobile devices (radio buttons are not better either).
              This plugin was created to solve both of these problems, so far it works great and seems
              to well received by the web developer community.
            %h3 Check it out!
            %p
              %select.image-picker
                %option{"data-img-src" => "http://placekitten.com/400/150", :value => "1"} Cute Kitten 1
                %option{"data-img-src" => "http://placekitten.com/150/150", :value => "2"} Cute Kitten 2
                %option{"data-img-src" => "http://placekitten.com/100/150", :value => "3"} Cute Kitten 3
                %option{"data-img-src" => "http://placekitten.com/450/151", :value => "4"} Cute Kitten 4
              :javascript
                jQuery("select.image-picker").imagepicker({
                  hide_select:  false,
                });
          .span4
            .see_more.well
              %h3 Want to see more?
              %ul.link_list
                %li
                  %a{href: "http://rvera.github.com/image-picker/"}
                    Visit the project page
                %li
                  %a{href: "https://github.com/rvera/image-picker"}
                    View on Github
              %a.btn.btn-success{href: "https://github.com/rvera/image-picker/archive/master.zip"}
                Download it


      .project
        .row
          .span12
            %h2 EDIPS: an Easy to Deploy Indoor Positioning System
        .row
          .span8
            %p.desc
              I'm what you might call a prehistoric mobile developer. I used to develop
              applications for the Java Micro Edition, Blackberry and Windows Mobile platforms
              in a time when those platforms where actually relevant.
              EDIPS is the offspring of the knowledge I had with my passion at the time for
              indoor positioning systems. I'd love to work on a similar project now, the technology
              is much closer to the point of making a tool like this a reality.
            %p.desc
              While similar applications exists, none of them are very practical when it comes to
              actually deploying them in the real world. EDIPS sacrifices some accuracy in order to
              actually make the initial deployment as fast as possible.
          .span4
            .see_more.well
              %h3 Want to see more?
              %ul.link_list
                %li
                  %a{href: "http://dl.acm.org/citation.cfm?id=1969442"}
                    ACM Link
              %a.btn.btn-success{href: "downloads/edips.pdf"}
                Download the paper
        .row
          .span12
            %h3 Screens
            %ul.thumbnails
              %li.span3
                .thumbnail
                  %a{:href => "img/edips2.png"}
                    %img{src: "img/edips2.png"}/
              %li.span3
                %p.muted
                  The app builds a manet with the current users in the area and 
                  shares your position with them.
              %li.span3
                .thumbnail
                  %a{:href => "img/edips1.png"}
                    %img{src: "img/edips1.png"}/
              %li.span3
                %p.muted
                  The app takes advantage of the motion sensors on the device and communicates
                  to other users whether you are standing still or moving around. It also uses this 
                  information to make better guessings about your current position.


      .project
        .row
          .span12
            %h2 Radios Chile
        .row
          .span8
            %p.desc
              While living in the US I couldn't help but to feel a little homesick, combine that with 
              a friend who wanted to learn Ruby on Rails and Radios Chile was born.
            %p.desc
              On the back end, the app is constantly crawling the radio streams in order to extract the 
              metadata from them and update the current artist/song being played. The front end is updated
              with a mix of AJAX and PJAX in order to not load the whole page with every update and
              avoid reloading the external music playing libraries.
          .span4
            .see_more.well
              %h3 Want to see more?
              %ul.link_list
                %li
              %a.btn.btn-success{href: "http://radio.chilerocks.org/"}
                Listen Online
        .row
          .span12
            %h3 Screens
        .row
          .span6
            %a{:href => "img/radios_chile.png"}
              %img{src: "img/radios_chile.png"}
          .span6
            %p.muted
              While listening, the information for every station is constantly updated with 
              the metadata from each stream. Sadly some stations don't update the metadata as
              much as we hoped, some don't even have metadata at all!


      .project
        .row
          .span12
            %h2 Quiin
        .row
          .span8
            %p.desc
              Quiin is a command line utility built in Ruby that monitors background processes
              and captures its exit code along with stdout and stderr output. This information is 
              stored by Quiin and is accessed through the embedded Sinatra app.
            %p.desc
              It was built as a proof of concept for a very specific project and has not been maintained 
              in a very long time.
              The code is public in case it's of use to anyone else. If I ever have the need to
              built a similar tool I'd love to clean up the code and gemify it.
          .span4
            .see_more.well
              %h3 Want to see more?
              %ul.link_list
                %li
                  %a{href: "https://github.com/rvera/quiin"}
                    View on Github (abandoned)
              %a.btn.btn-success{href: "https://github.com/rvera/quiin/archive/master.zip"}
                Download it
        .row
          .span12
            %h3 Screens
        .row
          .span4
            %a{:href => "img/quiin.png"}
              %img{src: "img/quiin.png"}
          .span2
            %p.muted
              The main screen of the embedded Sinatra app shows the latests jobs and warns you if
              any of them have failed.
          .span4
            %a{:href => "img/quiin2.png"}
              %img{src: "img/quiin2.png"}
          .span2
            %p.muted
              This is an example of a failed job. It shows the output along the exit code.


      .project
        .row
          .span12
            %h2 Jumping Cat Adventures
        .row
          .span8
            %p.desc
              JCA a game I made a long time ago for my sisters; they were the best QA testers I ever had, seriously.
              It's a game that while challenging doesn't punish you, in fact you can't even die in the game at all. 
              One of the most novel aspects of the game is that it employs a very simplistic one button contol method;
              just point in the direction where you want to jump and hold the mouse button, the 
              longer you hold it the stronger the jump will be.
            %p.desc
              The game was built using GameMaker so it only works on Windows. It should 
              still work on modern machine but can't say for sure. Haven't used a Windows
              machine in a long, long time.
            %p.desc
              I did all of the programming and my girlfriend at the time helped
              me with the pixel art. We even won a contest with this game but I'm still waiting
              for my first place prize. The sponsoring game company never gave it to me (if someone
              from Wanako Studios/Behaviour Santiago is reading this, it's never too late!)
          .span4
            .see_more.well
              %h3 Want to see more?
              %ul.link_list
                %li
                  %a{href: "http://www.youtube.com/watch?v=0Ucfzr1oi98"}
                    See the trailer
                %li
                  %a{href: "http://web.ing.puc.cl/~iic3686/juegos2006-2.html"}
                    1st prize winner!
              %a.btn.btn-success{href: "downloads/JumpingCat.exe"}
                Download it
        .row
          .span12
            %h3 It even has a trailer!
        .row
          .span8
            %p
              <iframe width="620" height="480" src="http://www.youtube.com/embed/0Ucfzr1oi98" frameborder="0" allowfullscreen></iframe>
          .span4
            %blockquote
              %p "So awesome!"
              %small
                %cite My youngest sister
            %blockquote
              %p "I love it."
              %small
                %cite My other sister
            %blockquote
              %p "Meh. (but secretly loves it)"
              %small
                %cite My older, teenager, sister


      .small_projects
        .row
          .span12
            %h2 Other small projects
        .row
          .span6
            .small_project
              %img.thumb.img-rounded.img-polaroid{src: "img/matrimonio.png"}
              %h3 Wedding Invitation
              %p.desc
                This is a small Heroku app that I made over a weekend to send, 
                manage and track the invitations to my wedding.
              %p
                %a.btn.btn-success{href: "http://rodrigoysara.herokuapp.com/invitacion/2e957f20-7530-012f-dbc1-12313926dced"}
                  View an example
          .span6
            .small_project
              %img.thumb.img-rounded.img-polaroid{src: "img/chalk_noir.png"}
              %h3 Chalk Noir
              %p.desc
                This is a small proof of concept game that I made while learning C++, 
                OpenGL and SDL. Among the myriad of unfinished games I've made over the years
                I actually like this one a lot so I kept it around instead of just deleting it.
              %p
                %a.btn.btn-success{href: "downloads/chalk_noir.rar"}
                  Download
        .row
          .span3
          .span6
            .small_project
              %img.thumb.img-rounded.img-polaroid{src: "img/crazybuzz.png"}
              %h3 Crazy Buzz
              %p.desc
                This small J2ME game was the electronic equivalent of the Hot Potato game.
                It sounds like an awful idea to play it with our current smarthphones but back then
                Nokia used to build them like a brick.
              %p
                %a.btn.btn-success{href: "downloads/crazybuzz.jar"}
                  Download
          .span3


      .footer
        &nbsp;

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39155024-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

        